@media screen and (max-width: 420px) {
  .cart-container {
    max-width: 1160px;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 100%;
  }
}

button:focus {
  outline: 0;
}

.cart-container {
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
}

::ng-deep .mat-grid-tile .mat-figure {
  justify-content: flex-start!important; 
  flex-direction: column!important;
}

.cart-container mat-card {
  background: white!important;
  color: black!important;
  width: 98%!important;
  margin-top: 2vh!important;
  min-height: 60px!important;
  height: 9vh;
  width: 100%;
  padding: 2vh 0 0 0;
}

.form-tile .mat-figure {
  justify-content: flex-end!important;
}

mat-list-item {
  color: black!important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ccc;
}

.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.cartOptions {
  display: flex;
}

.remove-button {
  margin-bottom: 10px;
  color: white;
  background:rgb(237, 70, 41);
  width: 30px;
  height:30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.add-button {
  margin-bottom: 10px;
  color: white;
  background:rgb(4, 175, 41);
  width: 30px;
  height:30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.order-button {
  height: 60px;
  border-radius: 30px!important;
  background: yellow;
  color: black;
  font-weight: 600;
  font-size: 24px;
}

.mat-card-avatar {
  min-height: 7vh;
  min-width: 7vh;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 6px -1px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}