<!-- <mat-grid-list
  style="padding: 10px"
  [cols]="colsVar"
  rowHeight="2:1"
  (window:resize)="onResize($event)"
> -->
<div style="display: flex; flex-direction: column;">
  <mat-card style="width: 96%; max-width: 900px; margin: 6px auto; padding: 2px; color: black;" *ngFor="let item of cart">
    <mat-grid-list cols="24" rowHeight="18px">
      <mat-grid-tile [colspan]="4" [rowspan]="4" class="item">
        <img mat-card-avatar [src]="item.image">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="8" [rowspan]="4" class="item">
        {{item.name}}
      </mat-grid-tile>
      <mat-grid-tile [colspan]="7" [rowspan]="4">
        <div class="cartOptions">
          <button type="button" class="remove-button"
            (click)="onClickRemoveButton(item); $event.stopPropagation(); $event.preventDefault();">-</button>
          <div style="padding: 0 10px; color: black; font-size: 24px;">{{item.quantity}}</div>
          <button type="button" class="add-button"
            (click)="onClickAddButton(item); $event.stopPropagation(); $event.preventDefault();">+</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="5" [rowspan]="4" style="font-size: 22px;">
        {{item.price}} ₴
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <mat-card style="width: 96%; max-width: 900px; padding: 4px; margin: 20px auto">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">

      <mat-form-field appearance="outline" style=" width: 98%; height: 60px; margin: 20px auto;">
        <mat-label style="color: black">Им'я</mat-label>
        <input matInput formControlName="name" type="text" style="height: 60px; color: black;">
      </mat-form-field>

      <mat-form-field appearance="outline" style=" width: 98%; height: 60px; margin: 20px auto;">
        <mat-label style="color: black">Телефон</mat-label>
        <input matInput formControlName="phone" type="text" style="height: 60px; color: black;">
      </mat-form-field>

      <mat-form-field appearance="outline" style=" width: 98%; height: 60px; margin: 20px auto;">
        <mat-label style="color: black">Вулиця</mat-label>
        <input matInput formControlName="street" type="text" style="height: 60px; color: black;">
      </mat-form-field>

      <mat-form-field appearance="outline" style=" width: 98%; height: 60px; margin: 20px auto;">
        <mat-label style="color: black">Будинок</mat-label>
        <input matInput formControlName="house" type="text" style="height: 60px; color: black;">
      </mat-form-field>

      <mat-form-field appearance="outline" style=" width: 98%; height: 60px; margin: 20px auto;">
        <mat-label style="color: black">Квартира</mat-label>
        <input matInput formControlName="flat" type="text" style="height: 60px; color: black;">
      </mat-form-field>

      <mat-form-field appearance="outline" style=" width: 98%; height: 60px; margin: 20px auto;">
        <mat-label style="color: black">Коментар</mat-label>
        <input matInput formControlName="comment" style="height: 60px; color: black;">
      </mat-form-field>

      <button class="order-button" type="submit" mat-raised-button>Замовити</button>
    </form>
  </mat-card>
</div>
