<div class="cart-container" (window:resize)="onResize($event)">
  <mat-grid-list [cols]="6" rowHeight="10px">
    <mat-grid-tile [colspan]="colsVar" [rowspan]="rowsVar">
      <mat-grid-list [cols]="1" rowHeight="10px" style="width: 100%; height: 100%;">
        <mat-grid-tile class="cart-list-container" [colspan]="1" [rowspan]="10" *ngFor="let item of cart">
          <mat-card>
            <mat-grid-list [cols]="12" rowHeight="30px">
              <mat-grid-tile [colspan]="2" [rowspan]="2" class="item">
                <img mat-card-avatar [src]="item.image">
              </mat-grid-tile>
              <mat-grid-tile [colspan]="4" [rowspan]="2" class="item">
                {{item.name}}
              </mat-grid-tile>
              <mat-grid-tile [colspan]="4" [rowspan]="2">
                <div class="cartOptions">
                  <button type="button" class="remove-button"
                    (click)="onClickRemoveButton(item); $event.stopPropagation(); $event.preventDefault();">-</button>
                  <div style="padding: 0 10px; color: black; font-size: 24px;">{{item.quantity}}</div>
                  <button type="button" class="add-button"
                    (click)="onClickAddButton(item); $event.stopPropagation(); $event.preventDefault();">+</button>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="2">
                {{item.price}} ₴
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colsVar" [rowspan]="50" class="form-tile">
      <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()" style="width: 100%; height: 100%; padding-right: 1vh;">
        <mat-grid-list [cols]="1" rowHeight="18px">
          <mat-grid-tile [colspan]="1" [rowspan]="4" class="input">
            <div style="margin-right: 10px; position: absolute; left: 10%">Им'я:</div>
            <mat-form-field appearance="outline">
              <input matInput formControlName="name">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="4">
            <span style="margin-right: 10px; position: absolute; left: 10%">Телефон:</span>
            <mat-form-field appearance="outline">
              <input matInput formControlName="phone">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="4" class="input">
            <span style="margin-right: 10px; position: absolute; left: 10%">Вулиця:</span>
            <mat-form-field appearance="outline">
              <input matInput formControlName="street">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="4">
            <span style="margin-right: 10px; position: absolute; left: 10%">Будинок:</span>
            <mat-form-field appearance="outline">
              <input matInput formControlName="house">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="4" class="input">
            <span style="margin-right: 10px; position: absolute; left: 10%">Квартира:</span>
            <mat-form-field appearance="outline">
              <input matInput formControlName="flat">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="5">
            <span style="margin-right: 10px; position: absolute; left: 10%">Коментар:</span>
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="comment"></textarea>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="4">
            <button class="order-button" type="submit" mat-raised-button>Замовити</button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-grid-tile>
  </mat-grid-list>
</div>