.header-wrapper {
  height: 12vh;
  width: 100%;
  position: fixed;
  top: 0;
  left:0;
  z-index: 2147483647;
}

.header-container {
    height: 6vh;
    background: #ec4435;
    text-align: center;
    color: white;
    padding-top: 2vh;
    font-size: 20px;
    width:100%;
}

.header-container a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.header-container a > mat-icon{
  vertical-align:middle;
} 

@media screen and (max-width: 420px) {
  .header-container {
      height: 5vh;
      padding-top: 1vh;
  }
}

.nav-container{
  width: 100%;
  background: #fff;
  height: 7vh;
  padding: 4px;
  box-shadow: 0 4px 16px 0 rgba(33,33,33,0.24)!important;
}

.navMenu {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navLogo > img {
  max-height: 6vh;
}

.navList {
  display: flex;
  list-style-type: none;
}

.navList a {
  color: rgb(54, 54, 54);
  text-decoration: none;
  padding: 20px;
}

.navList a:target {
  border-bottom: 1px solid red;
}