<div class="header-wrapper">
  <div class="header-container">
    <a href="tel:+380633132555">
      <mat-icon>call</mat-icon>
      <b> (063) 31 32 555</b>
    </a>
  </div>
  <div class="nav-container">
    <nav class="navMenu">
      <a [routerLink]="'/'" class="navLogo">
        <img src="https://i.ibb.co/YhfXYrY/image.png" alt="image">
      </a>
      <ul class="navList">
        <li class="navItem">
          <a href="javascript:;" (click)="updateData('riba')">Рыба</a>
        </li>
        <li class="navItem">
          <a href="javascript:;" (click)="updateData('meal')">Мясо</a>
        </li>
        <li class="navItem">
          <a href="javascript:;" (click)="updateData('krevetki')">Креветки</a>
        </li>
        <li class="navItem">
          <a href="javascript:;" (click)="updateData('raki')">Раки</a>
        </li>
        <li class="navItem">
          <a href="javascript:;" (click)="updateData('sneaks')">Снэки</a>
        </li>
        <li class="navItem">
          <a href="javascript:;" (click)="updateData('beer')">Пиво</a>
        </li>
      </ul>
      <a [routerLink]="'cart'" class="cart">
        {{summ}}₴
      </a>
    </nav>
  </div>
</div>