.header-wrapper {
  height: 12vh;
  width: 100%;
  position: fixed;
  top: 0;
  left:0;
  z-index: 2147483647;
}

.header-container {
    height: 6vh;
    background: #b8e0e4;
    background-image: url("https://ibb.co/ZBvztWb");
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 2vh;
    font-size: 20px;
    width:100%;
}

.header-container a {
    text-decoration: none;
    /* color:  #31a8e0; */
    color:  black;
    display: inline-block;
}

.header-container a > mat-icon{
  vertical-align: middle;
} 

@media screen and (max-width: 420px) {
  .header-container {
      height: 5vh;
      padding-top: 1vh;
  }
}

.nav-container{
  width: 100%;
  background: #fff;
  height: 10vh;
  box-shadow: 0 4px 16px 0 rgba(33,33,33,0.24)!important;
}

.navMenu {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navLogo > img {
  max-height: 9vh;
}

.navList {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0px;
}

.navItem {
  padding: 1vh;
  font-weight: 600;
}

.navList a {
  color: rgb(54, 54, 54);
  text-decoration: none;
}

.navList a:target {
  border-bottom: 1px solid red;
}

.cart {
  background-color: yellow;
  border-radius: 3vh;
  font-weight: 600;
  font-size: 28px;
  text-decoration: none;
  color: black;
  max-height: 6vh;
  padding: 1vh 1vh 0 1vh;
  margin-top: 1.5vh;
}