mat-tab-group {
  position: static;
}

mat-grid-list {
  margin-bottom: 6vh;
}

.mat-tab-label {
  background: #ffffff;
  min-height: 6vh !important;
}

.mat-tab-label,
.mat-tab-link {
  color: black !important;
}

/* .mat-tab-label:nth-last-child(1) {
  border-right: 2px solid rgb(153, 26, 26);
} */
.mat-tab-label:hover,
.mat-tab-label-active {
  background: white;
}

.mat-tab-label-container {
  background: #fff;
}

mat-tab-header {
  box-shadow: 0 4px 16px 0 rgba(33,33,33,0.24)!important;
}

.mat-tab-labels {
  max-width: 960px;
  margin: 0 auto;
}

.listsWrapper {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.listsWrapper h2 {
  text-align: center;
  background: #e6e6e8;
  min-height: 8vh;
  padding-top: 3vh;
  font-size: 30px;
  border-top: 6px solid #ededf1;
  border-bottom: 6px solid #ededf1;
}

.mat-list-base .mat-list-item {
  color: black;
}

.mat-list-base .mat-subheader {
  color: black;
  justify-content: center;
}

mat-list-item {
  float: right;
}

mat-card {
  margin: 1px;
  max-width: 200px;
  padding: 2px!important;
}

mat-card img {
  max-width: 237px;
  margin: 10px;
}

mat-card-image {
  padding-bottom: 0;
}

.mat-tab-header-pagination {
  position: absolute;
  top: 0;
}

@media screen and (max-width: 420px) {
  .mat-tab-label .mat-tab-label-content img {
    display: none;
  }
}

mat-ink-bar {
  background-color: rgb(237, 70, 41)!important;
}

.mat-card-title {
  font-size: 18px;
}

mat-card-content {
  min-height: 10vh;
  padding-left: 2vh;
}

a {
  text-decoration: none;
}

mat-tab-body-wrapper {
  padding-top: 140px;
}
