.listsWrapper {
  max-width: 1160px;
  width: 97%;
  margin: 0 auto;
  padding-left: 2px;
}

mat-grid-list {
  margin-bottom: 6vh;
}

.listsWrapper h2 {
  text-align: center;
  background: #90cfd5;
  min-height: 8vh;
  padding-top: 3vh;
  font-size: 30px;
  border-top: 6px solid #ededf1;
  border-bottom: 6px solid #ededf1;
}

.mat-list-base .mat-list-item {
  color: black;
}

.mat-list-base .mat-subheader {
  color: black;
  justify-content: center;
}

mat-list-item {
  float: right;
}

::ng-deep .mat-grid-tile {
  height: 370px!important;
}
::ng-deep .mat-grid-tile .mat-figure {
  height: 370px!important;
}

mat-card {
  margin: 1px;
  padding: 0!important;
  background: white!important;
  margin-right: 1vh;
  height: 360px;
}

mat-card img {
  max-width: 310px;
  margin: 0!important;
  height: 232px;
}

mat-card-image {
  padding-bottom: 0;
}

@media screen and (max-width: 420px) {
  
}

mat-ink-bar {
  background-color: rgb(237, 70, 41)!important;
}

.mat-card-title {
  font-size: 18px;
  color: black;
}

mat-card-content {
  min-height: 10vh;
  padding-left: 2vh;
}

a {
  text-decoration: none;
}

mat-tab-body-wrapper {
  padding-top: 140px;
}
.cartOptions {
  display: flex;
}

.remove-button {
  margin-bottom: 10px;
  color: white;
  background:rgb(237, 70, 41);
  width: 30px;
  height:30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.add-button {
  margin-bottom: 10px;
  color: white;
  background:rgb(4, 175, 41);
  width: 30px;
  height:30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 3px 4px 10px -1px rgba(0,0,0,.2), 2px 1px 5px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

mat-card img {
  width: 100%;
}

.cart {
  text-decoration: none;
  color: black;
}

.bottom-order-button {
  background: yellow;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 94.5%;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 24px;
  font-weight: 600;
  z-index: 1000;
}