<a [routerLink]="'cart'" class="cart">
  <div class="bottom-order-button" (window:scroll)="onScroll($event)">
    <span *ngIf="cartItems" style="font-size: 16px">товарiв у кошику: <b>{{cartItems.length}}</b></span>
    <span *ngIf="cost" style="padding-left: 80px;">{{cost}}₴</span>
  </div>
</a>
<div class="listsWrapper" (window:resize)="onResize($event)">
  <h2 id="riba">Риба</h2>
  <mat-grid-list *ngIf="riba" [cols]="colsCounter" rowHeight="18px">
    <mat-grid-tile *ngFor="let product of riba" [colspan]="1" [rowspan]="rowsCounter">
      <a [routerLink]="['/product/', product._id]">
        <mat-card>
          <img mat-card-image [src]="product.img" [alt]="product.name">
          <mat-card-content>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-title style="color:red; font-size: 22px;">{{product.price}} ₴</mat-card-title>
            <div class="cartOptions">
              <button type="button" class="remove-button" (click)="onClickRemoveButton(product); $event.stopPropagation(); $event.preventDefault();">-</button>
              <div style="padding: 0 10px; color: black; font-size: 24px;">{{product.quantity}}</div>
              <button type="button" class="add-button" (click)="onClickAddButton(product); $event.stopPropagation(); $event.preventDefault();">+</button>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
  <h2 id="meal">М'ясо</h2>
  <mat-grid-list *ngIf="meal" [cols]="colsCounter" rowHeight="18px">
    <mat-grid-tile *ngFor="let product of meal" [colspan]="1" [rowspan]="rowsCounter">
      <a [routerLink]="['/product/', product._id]">
        <mat-card>
          <img mat-card-image [src]="product.img" [alt]="product.name">
          <mat-card-content>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-title style="color:red; font-size: 22px;">{{product.price}} ₴</mat-card-title>
            <div class="cartOptions">
              <button type="button" class="remove-button" (click)="onClickRemoveButton(product); $event.stopPropagation(); $event.preventDefault();">-</button>
              <div style="padding: 0 10px; color: black; font-size: 24px;">{{product.quantity}}</div>
              <button type="button" class="add-button" (click)="onClickAddButton(product); $event.stopPropagation(); $event.preventDefault();">+</button>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
  <h2 id="krevetki">Креветки</h2>
  <mat-grid-list #list *ngIf="krevetki" [cols]="colsCounter" rowHeight="18px">
    <mat-grid-tile *ngFor="let product of krevetki" [colspan]="1" [rowspan]="rowsCounter">
      <a [routerLink]="['/product/', product._id]">
        <mat-card>
          <img mat-card-image [src]="product.img" [alt]="product.name">
          <mat-card-content>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-title style="color:red; font-size: 22px;">{{product.price}} ₴</mat-card-title>
            <div class="cartOptions">
              <button type="button" class="remove-button" (click)="onClickRemoveButton(product); $event.stopPropagation(); $event.preventDefault();">-</button>
              <div style="padding: 0 10px; color: black; font-size: 24px;">{{product.quantity}}</div>
              <button type="button" class="add-button" (click)="onClickAddButton(product); $event.stopPropagation(); $event.preventDefault();">+</button>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
  <h2 id="raki">Раки</h2>
  <mat-grid-list *ngIf="raki" [cols]="colsCounter" rowHeight="18px">
    <mat-grid-tile *ngFor="let product of raki" [colspan]="1" [rowspan]="rowsCounter">
      <a [routerLink]="['/product/', product._id]">
        <mat-card>
          <img mat-card-image [src]="product.img" [alt]="product.name">
          <mat-card-content>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-title style="color:red; font-size: 22px;">{{product.price}} ₴</mat-card-title>
            <div class="cartOptions">
              <button type="button" class="remove-button" (click)="onClickRemoveButton(product); $event.stopPropagation(); $event.preventDefault();">-</button>
              <div style="padding: 0 10px; color: black; font-size: 24px;">{{product.quantity}}</div>
              <button type="button" class="add-button" (click)="onClickAddButton(product); $event.stopPropagation(); $event.preventDefault();">+</button>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
  <h2 id="sneaks">Снeки</h2>
  <mat-grid-list *ngIf="sneaks" [cols]="colsCounter" rowHeight="18px">
    <mat-grid-tile *ngFor="let product of sneaks" [colspan]="1" [rowspan]="rowsCounter">
      <a [routerLink]="['/product/', product._id]">
        <mat-card>
          <img mat-card-image [src]="product.img" [alt]="product.name">
          <mat-card-content>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-title style="color:red; font-size: 22px;">{{product.price}} ₴</mat-card-title>
            <div class="cartOptions">
              <button type="button" class="remove-button" (click)="onClickRemoveButton(product); $event.stopPropagation(); $event.preventDefault();">-</button>
              <div style="padding: 0 10px; color: black; font-size: 24px;">{{product.quantity}}</div>
              <button type="button" class="add-button" (click)="onClickAddButton(product); $event.stopPropagation(); $event.preventDefault();">+</button>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
  <h2 id="beer">Пиво</h2>
  <mat-grid-list #list *ngIf="beer" [cols]="colsCounter" rowHeight="18px">
    <mat-grid-tile *ngFor="let product of beer" [colspan]="1" [rowspan]="rowsCounter">
      <a [routerLink]="['/product/', product._id]">
        <mat-card>
          <img mat-card-image [src]="product.img" [alt]="product.name">
          <mat-card-content>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-title style="color:red; font-size: 22px;">{{product.price}} ₴</mat-card-title>
            <div class="cartOptions">
              <button type="button" class="remove-button" (click)="onClickRemoveButton(product); $event.stopPropagation(); $event.preventDefault();">-</button>
              <div style="padding: 0 10px; color: black; font-size: 24px;">{{product.quantity}}</div>
              <button type="button" class="add-button" (click)="onClickAddButton(product); $event.stopPropagation(); $event.preventDefault();">+</button>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
  <img *ngIf="bottomImageUrl" [src]="bottomImageUrl" alt="" style="height: 90px; width: 100%; display: block;">
</div>