.listsWrapper {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

mat-grid-list {
  margin-bottom: 6vh;
}

.listsWrapper h2 {
  text-align: center;
  background: #90cfd5;
  min-height: 8vh;
  padding-top: 3vh;
  font-size: 30px;
  border-top: 6px solid #ededf1;
  border-bottom: 6px solid #ededf1;
}

.mat-list-base .mat-list-item {
  color: black;
}

.mat-list-base .mat-subheader {
  color: black;
  justify-content: center;
}

mat-list-item {
  float: right;
}

mat-card {
  margin: 1px;
  max-width: 200px;
  padding: 0!important;
  background: white!important;
  margin-right: 1vh;
}

mat-card img {
  max-width: 237px;
  margin: 0!important;
  height: 232px;
}

mat-card-image {
  padding-bottom: 0;
}

@media screen and (max-width: 420px) {
  
}

mat-ink-bar {
  background-color: rgb(237, 70, 41)!important;
}

.mat-card-title {
  font-size: 18px;
  color: black;
}

mat-card-content {
  min-height: 10vh;
  padding-left: 2vh;
}

a {
  text-decoration: none;
}

mat-tab-body-wrapper {
  padding-top: 140px;
}
.cartOptions {
  display: flex;
}

.remove-button {
  margin-bottom: 10px;
  color: white;
  background:rgb(237, 70, 41);
  width: 36px;
  height:32px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 22px;
}

.add-button {
  margin-bottom: 10px;
  color: white;
  background:rgb(4, 175, 41);
  width: 36px;
  height:32px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 22px;
}