button:focus {outline:0;}

.container {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 40px;
}

img {
    max-width: 700px;
}

.cartItem {
  font-size: 34px;
  padding: 20px 0 20px 0;
}

.cartItem .remove-button {
  margin-bottom: 10px;
  color: white;
  background:rgb(237, 70, 41);
  width: 46px;
  height:42px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 30px;
}

.cartItem .add-button {
  margin-bottom: 10px;
  color: white;
  background:rgb(4, 175, 41);
  width: 46px;
  height:42px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 30px;
}