<div class="container" (window:resize)="onResize($event)">
  <mat-grid-list *ngIf="product" [cols]="colsCounter" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="rowsCounter">
      <img *ngIf="product" [src]="product.img" alt="">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="3">
      <div style="color:black; font-size: 46px; font-weight: 600; display: inline-block;">{{product.name}}</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <div *ngIf="product" style="color: rgb(237, 70, 41); font-size: 50px;">{{product.price}} грн</div>
    </mat-grid-tile>
    <mat-grid-tile class="cartItem">
        <button type="button" class="remove-button" (click)="onClickRemoveButton()">-</button>
        <div *ngIf="cartItem" style="padding: 0 10px">{{cartItem.quantity | json}}</div>
        <div *ngIf="!cartItem" style="padding: 0 10px">0</div>
        <button type="button" class="add-button" (click)="onClickAddButton()">+</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>